In [5]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [6]:
df = pd.read_csv('UK DATA.csv')

In [7]:
df

,university,course,city,average_fee,estimated_cost_of_living_per_year,uk_rank,world_rank,percentage_of_international_students,student_satisfaction,research_quality,graduate_prospect
0,University of Cambridge,Business & Management Studies,Cambridge,34920,12000,1,4,20.20,85.5,88.0,91.0
1,University of Cambridge,Engineering and Technology,Cambridge,35494,12000,1,4,20.20,85.5,88.0,91.0
2,University of Cambridge,Computing,Cambridge,27000,12000,1,4,20.20,85.5,88.0,91.0
3,University of Cambridge,Social Sciences,Cambridge,35525,12000,1,4,20.20,85.5,88.0,91.0
4,University of Oxford,Business & Management Studies,Oxford,43600,11500,2,2,16.80,86.5,87.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...
443,Wrexham Glyndwr University,Business & Management Studies,Wrexham,12000,7771,130,2397,23.00,74.3,55.0,63.0
444,Wrexham Glyndwr University,Engineering and Technology,Wrexham,12000,7771,130,2397,23.00,74.3,55.0,63.0
445,Wrexham Glyndwr University,Computing,Wrexham,12000,7771,130,2397,23.00,74.3,55.0,63.0
446,Wrexham Glyndwr University,Social Sciences,Wrexham,12000,7771,130,2397,23.00,74.3,55.0,63.0
447,Ravensbourne University London,Engineering and Technology,London,17000,10229,131,2759,15.59,66.1,NaN,NaN

In [11]:
average_fee=15000

course='Computing'

In [12]:
df_filtered = df[(df['course'] == course) & (df['average_fee']< average_fee)]

In [13]:
if len(df_filtered) == 0:
    print("No matches found")
else:  
    model = NearestNeighbors(n_neighbors=3)
    model.fit(df_filtered[['uk_rank', 'world_rank', 'percentage_of_international_students','student_satisfaction', 'research_quality', 'graduate_prospect']])
    distances, indices = model.kneighbors(df_filtered[['uk_rank', 'world_rank', 'percentage_of_international_students','student_satisfaction', 'research_quality', 'graduate_prospect']])
    
    n_recs = min(len(indices[0]),3)
    for i in indices[0][:n_recs]:
        print(df_filtered.iloc[i]['university'])

Nottingham Trent University
Sheffield Hallam University
Birmingham City University